@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto+Condensed:wght@300&display=swap');



:root {
    --white: (font-family: 'Kanit', sans-serif;
            font-family: 'Roboto Condensed', sans-serif; )
}


#titulo1 {
    background-color: rgba(251, 251, 251, 10);
    height: 67px;
    padding-top: 245px;
    margin: 0;
    margin-bottom: 10px;
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/719/460/desktop-wallpaper-cute-rabbit-and-cat-cute-baby-cats.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;

}

h1 {
    font-family: font-family 'Kanit', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    text-align: center;

}

body {
    background-color: #7887F5
}

.contenedorcaja h2 {
    background-color: #7887F5;
    margin: 0;
    width: 100%;
    color: white;
    text-align: center;
    border-radius: 25px;
    font-family: font-family 'Kanit', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px
}

.contenedorcaja {
    background-color: rgba(251, 251, 251, 10);
    margin-top: 2.3px;
    padding: 30px
}


.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu .lista {
    display: inline-block;
}


nav {
    width: 100%;
    height: auto;
    color: white;
    font-size: 17px;
}

.menu li ul {
    list-style: none;
    background-color: #7887F5;
    padding: 0px;
    margin: 0;
}

.menu li ul {
    padding: 0;
}

#caja1 {
    padding: 15px;
    float: left;

}

#caja2 {
    padding: 15px 0;

    margin-left: 28%;
}

#caja3 {
    padding: 10px;
    float: right;
    margin: 5px;

}

.lista {
    background: #7887F5;
}

.lista a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 15px 50px;
    margin: 0;
}



.lista a:hover {
    background-color: white;
    border-collapse: collapse;
    color: black;
}

.menu li ul a:hover {
    background-color: white;
    color: black;
}

.menu li:hover ul {
    display: block;
    position: relative;
    background-color: #7887F5;
}

.hidden {
    position: absolute;
    display: none;
}

label {
    padding: 10px 0;
}

input {
    display: block;
    margin-top: 3px;
}

#Comentario {
    padding-bottom: 30px;
    margin-bottom: 14px;
}

#formulario .form .contenedorform {
    font-family: font-family 'Kanit', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

}

#pais {
    margin-top: 10px;
    display: block;
}

.form div {
    margin-top: 10px;
}

#boton1,
#boton2,
#boton3,
#boton4,
#boton5 {
    display: inline-block;
    margin: 17px 25px 0 2.5px;
}

#perro,
#gato,
#otro,
#ninguno {
    display: inline-block;
}

.mascota #mascota1 {
    display: block;
}

.mascota label {
    display: inline-block;
}

.mascota input {
    margin: 17px 25px 0 2.5px;
}

.caja {
    padding: 0;
    margin: 0;
}

#display,
div {
    margin: 38px;
    padding: 38px;
}

.uno,
.dos,
.tres,
.cuatro {
    background-color: rgb(131, 226, 226);
    color: rgb(0, 0, 0);
}

.uno {
    background-color: blue;
    color: white;
    position: relative;
    height: 400px;
    width: 250px;
    font-size: 10px;
    text-align: end;
}

.uno .secret {
    background-color: #7887F5;
    position: absolute;
    top: 100px;
    left: 25%;
    width: 70px;
    height: 70px;
    font-size: 5em;
    text-align: center;
}

.dos {
    width: 30vw;
    height: 24vh;
}

.tres {
    background-color: blueviolet;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: steelblue;
    height: 45vh;
    width: 80vw;
}

.container div {
    margin: 15px;
    background-color: aqua;
    height: 10px;
    width: 10px;
    text-align: center;
}